@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body {
	padding-left: 100px;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100px;
	background: #f5b335;
}

nav ul {
	width: 100%;
	
	// 점 없애기
	list-style: none;
	padding-left: 0px;
}

nav ul li {
	// width: 25%;
	// position: relative;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

content {
	width: 99%;
}

section {
	padding-left: 10px;
	padding-bottom: 10px;
}

section ul li {
	padding-bottom: 5px;
}

footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 10px;
}
