@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


header {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100px;
}

header h1 {
	padding-top: 20px;
	padding-bottom: 10px;
}

nav ul {
	width: 100%;
	
	// 점 없애기
	list-style: none;
	padding-left: 0px;
}
nav ul li {
	text-align: center;
	margin-bottom: 10px;
}

footer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 10px;
}


body {
	padding-left: 100px;
}

section {
	width: 99%;
}

article {
	padding-left: 10px;
	padding-bottom: 10px;
}

article li {
	padding-bottom: 5px;
}

.header-font {
	font-family: 'Black Han Sans';
	font-weight: 100;
}

.body-font {
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}


.text-yellow {
	color: #fffc8c;
}

.text-orange {
	color: #f8ba2b;
}

.text-violet {
	color: #9056c1;
}
.bg-violet {
	background: #9056c1;
}

.green-to-red {
	color: #88ee66;
}
.green-to-red:hover {
	color: #ff1e3c;
}
