@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 110px;
}

.header h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.nav ul {
  width: 100%;

  /* 점 없애기 */
  list-style: none;
  padding-left: 0px;
}
.nav ul li {
  text-align: center;
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.main {
  margin-left: 110px;
}

/* section {
  width: 99%;
}

article {
  padding-left: 10px;
  padding-bottom: 10px;
}

article li {
  padding-bottom: 5px;
} */

.headerFont {
  font-family: "Black Han Sans";
  font-weight: 100;
}

.bodyFont {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}

.textYellow {
  color: #fffc8c;
}

.textOrange {
  color: #f8ba2b;
}

.textViolet {
  color: #9056c1;
}
.bgViolet {
  background: #9056c1;
}

.greenToRed {
  color: #88ee66;
}
.greenToRed:hover {
  color: #ff1e3c;
}

.hashtag {
  font-style: oblique;
  font-weight: bold;
}
